{
  "rules": {
    "linebreak-style": 0,
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "no-alert": "off",
    "import/extensions": ["error", "always", {
      "js": "never",
      "vue": "never"
    }],
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": [
        "state",
        "acc",
        "e"
      ]
    }],
  },
  "extends": [
    "plugin:vue/recommended",
    "airbnb-base"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "vue"
  ],
  "globals": {
    "$": true,
    "jQuery": true,
    "ymaps": true,
    "BX": true,
    "gtag": true
  },
}
