block variables

doctype html
html.page(lang='ru')
  include /includes/head
  body.page__body
    #app.page__inner
      //.page__header
        include /includes/header
      .page__main
        block main
      //.page__footer
        include /includes/footer
    include /includes/scripts
